*{
        margin:0;
        padding:0;
      box-sizing: border-box;
}

html,body{
width:100%;
height:100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell ;
    color: white;
    font-size: clamp(14px ,1vw,18px);
    
}
body{
    background-color: #1d1d1d;
}
@mixin flex-column($gap: 0rem){
        display: flex;
        flex-direction: column;
         gap: $gap;
}
section{
    max-width: 1800px;
}
main{
width: 100%;
@include flex-column(0rem);
align-items: center;
  
    section.view1{
        width: 100%;
        padding: 1rem;
        @include flex-column(2rem);

      .top{
        width: 100%;
        img{
            width: 100%;
            border-radius: 10px;

        }

      }
         .bottom{
            @include flex-column(1.5rem);
            background-color: #292929;
           border-radius: 10px;
           padding: 1.5rem;
            
            .text{
                display: flex;
                flex-direction: column;
              @include flex-column(0.7rem);

                h1{
                font-weight: 200;
                font-size: 2.5rem;
                text-transform: uppercase;

            }
            p{
                font-weight: 100;
                font-size: 1.3rem;
                opacity: 0.6;
                line-height: 1.5;
            }
            button{
                width: fit-content;
                border: none;
                outline: none;
                padding: 0.7rem 1rem;
                border-radius: 0.5rem;
            }
            }
         }
    }
    
    section.view2{
     @include flex-column(2.5rem);
     width: 100%;
     padding: 1rem;

       .top,.bottom{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    .element{
      text-align: center;
      @include flex-column(0.2rem);
      
      small{
        opacity: 0.7;
      }
       h2{
        
        font-size: 3.5rem;
        font-weight: 400;
       }

    }

    }
}

    section.view3{
      width: 100%;
      padding: 1rem;
      @include flex-column(1rem);

      .top{
        width: 100%;
         img{
          width: 100%;
          border-radius: 0.7rem;
        }
      }
      .bottom{
            @include flex-column(3rem);
            background-color: #292929;
           border-radius: 0.7rem;
           padding: 1.7rem;
           
            .text{
                display: flex;
                flex-direction: column;
              @include flex-column(0.7rem);

                h1{
                font-weight: 200;
                font-size: 2.5rem;
                text-transform: uppercase;

            }
            p{
                font-weight: 100;
                font-size: 1.3rem;
                opacity: 0.6;
                line-height: 1.5;
            }

            }
         }
       .bottom>p{
        text-transform: uppercase;
       }  
    }
    section.view4{
      width: 100%;
      padding: 1rem;
      @include flex-column(1rem);

      .top{
        width: 100%;
         img{
          width: 100%;
          border-radius: 0.7rem;
        }
      }
      .bottom{
            @include flex-column(3rem);
            background-color: #292929;
           border-radius: 0.7rem;
           padding: 1.7rem;
           
            .text{
                display: flex;
                flex-direction: column;
              @include flex-column(0.7rem);

                h1{
                font-weight: 200;
                font-size: 2.5rem;
                text-transform: uppercase;

            }
            p{
                font-weight: 100;
                font-size: 1.3rem;
                opacity: 0.6;
                line-height: 1.5;
            }

            }
         }
       .bottom>p{
        text-transform: uppercase;
       }  
    }
    section.view5{
      @include flex-column(2rem);
      gap: 2rem;
      width: 100%;
      padding: 1rem;

      .card1{
        border-radius: 0.7rem;
        width: 100%;
        background-image: url(./img1.webp);
        aspect-ratio: 1/1;
        background-size: cover;
      
        @include flex-column(0rem);
          justify-content:space-between;
         padding:1rem;

        .icon,.bottom{
          
          background-color: rgba(187 ,187,187,0.375);
          backdrop-filter: blur(5px);
          border-radius: 0.7rem;
          border: 1px solid white;
          padding: 0.5rem;
        }
        .top{
          display: flex;
          gap: 1rem;
          justify-content: flex-end;
        }
        .icon{
          width:fit-content;
          border-radius: 50%;
        }
        .bottom{
          display: flex;
          justify-content: space-between;
          padding: 1.5rem 1rem;

          p{
            text-transform: uppercase;
          }
        }
      }
      .card2{
        border-radius: 0.7rem;
        width: 100%;
        background-image: url(./img2.webp);
        aspect-ratio: 1/1;
        background-size: cover;
      
        @include flex-column(0rem);
          justify-content:space-between;
         padding:1rem;

        .icon,.bottom{
          
          background-color: rgba(187 ,187,187,0.375);
          backdrop-filter: blur(5px);
          border-radius: 0.7rem;
          border: 1px solid white;
          padding: 0.5rem;
        }
        .top{
          display: flex;
          gap: 1rem;
          justify-content: flex-end;
        }
        .icon{
          width:fit-content;
          border-radius: 50%;
        }
        .bottom{
          display: flex;
          justify-content: space-between;
          padding: 1.5rem 1rem;

          p{
            text-transform: uppercase;
          }
        }
      }
      .card3{
        border-radius: 0.7rem;
        width: 100%;
        background-image: url(./img3.webp);
        aspect-ratio: 1/1;
        background-size: cover;
      
        @include flex-column(0rem);
          justify-content:space-between;
         padding:1rem;

        .icon,.bottom{
          
          background-color: rgba(187 ,187,187,0.375);
          backdrop-filter: blur(5px);
          border-radius: 0.7rem;
          border: 1px solid white;
          padding: 0.5rem;
        }
        .top{
          display: flex;
          gap: 1rem;
          justify-content: flex-end;
        }
        .icon{
          width:fit-content;
          border-radius: 50%;
        }
        .bottom{
          display: flex;
          justify-content: space-between;
          padding: 1.5rem 1rem;

          p{
            text-transform: uppercase;
          }
        }
      }
    }
    }
  

@media(min-width:900px){
    main{
        section.view1{
         flex-direction: row;
          padding: 1rem 2rem;
         .top,
         .bottom{
            width: 50%;
         }
          .bottom{
            justify-content: space-between;
            padding: 3rem;
            
            .text{
              gap: 1.5rem;

              h1{
                font-size: 3.5rem;
              }

              p{
                width: 60%;
                font-size: 1rem;
              }
            }
          }
        }
        section.view2{
          flex-direction: row;
          padding: 1rem 2rem;
        }
        section.view3{
          flex-direction: row-reverse;
               padding: 1rem 2rem;
          .top,.bottom{
            width: 50%;
          }
           .bottom{
            justify-content: space-between;
            padding: 3 rem;

            .paragraphs{
              display: flex;
              gap: 2rem;
              p{
                font-size: 1rem;
              }
            }
           }
        }
        section.view4{
          flex-direction: row;
               padding: 1rem 2rem;
          .top,.bottom{
            width: 50%;
          }
           .bottom{
            justify-content: space-between;
            padding: 3 rem;

            .paragraphs{
              display: flex;
              gap: 2rem;
              p{
                font-size: 1rem;
              }
            }
           }
        }
        section.view5{
          flex-direction: row;
          padding: 1rem 2rem;
        }
    }

}